@media (min-width: 414px) {
	.TodoApp {
		width: 40rem;
	}
}

body {
	margin: 0;
}
#root {
	display: flex;
	justify-content: center;
}
.TodoApp {
	width: 60vh;
}
button {
	border: none;
	border-radius: 0 5px 5px 0;
	left: 0;
	cursor: pointer;
	height: 100%;
	padding: 1rem;
}
